<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8"></meta>
<title>Angular Spring Thymleaf PWA</title>
<base href="/"></base>
<link rel="icon" type="image/x-icon" href="favicon.ico"></link>
<link rel="manifest" href="/manifest.json"></link>
<link rel="manifest" href="manifest.json"></link>
<meta name="viewport" content="width=device-width,initial-scale=1"></meta>
<meta name="mobile-web-app-capable" content="yes"></meta>
<meta name="apple-mobile-web-app-capable" content="yes"></meta>
<meta name="msapplication-starturl" content="/"></meta>
<meta name="theme-color" content="#f48c5b"></meta>
<link href="styles.24f154a169d9024f2b08.bundle.css" rel="stylesheet"></link>
</head>
<body>
	<app-root></app-root>
	<script type="text/javascript"
		src="inline.606fdd9ed8eb9ccf68bf.bundle.js"></script>
	<script type="text/javascript"
		src="polyfills.ad37cd45a71cb38eee76.bundle.js"></script>
	<script type="text/javascript"
		src="scripts.6c4e78ddd856f53d61f2.bundle.js"></script>
	<script type="text/javascript"
		src="main.16f135ae2d7dc0c6d578.bundle.js"></script>
</body>
</html>